<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742236079498-ufs3agja8iqf5i960vd66k6bgar9nghn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742236079498-ufs3agja8iqf5i960vd66k6bgar9nghn</string>
	<key>API_KEY</key>
	<string>AIzaSyD-B20O14ffx0pbAg-XkUS9VjKeOheqMyU</string>
	<key>GCM_SENDER_ID</key>
	<string>742236079498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mojo.UBike</string>
	<key>PROJECT_ID</key>
	<string>ubike-8988a</string>
	<key>STORAGE_BUCKET</key>
	<string>ubike-8988a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742236079498:ios:1a9557139018ea81fa3473</string>
	<key>DATABASE_URL</key>
	<string>https://ubike-8988a.firebaseio.com</string>
</dict>
</plist>